@import "tailwindcss";

@font-face {
  font-family: "montserrat";
  src: url("/fonts/montserrat.ttf");
}

@font-face {
  font-family: "viaodaLibre";
  src: url("/fonts/viaodaLibre.ttf");
}

@font-face {
  font-family: "zCoolKuaile";
  src: url("/fonts/zCoolKuaile.ttf");
}

@theme {
  --color-primary: #111111;
  --color-secondary: #fafafa;
  --color-tertiary: #141414;
  --color-extra: #333333;

  --font-letter: "montserrat", sans-serif;
  --font-title: "viaodaLibre", sans-serif;
  --font-extra: "zCoolKuaile", sans-serif;
}

@layer components {
  button {
    cursor: pointer;
  }
}

@layer utilities {
  .bg-background {
    background-image: url("/assets/images/background.svg");
  }
  .scrollInvisible::-webkit-scrollbar {
    width: 5px;
  }
  .scrollInvisible::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #333333;
    border-radius: 10px;
    cursor: pointer;
  }

  .btn-pagination {
    @apply cursor-pointer flex justify-center items-center border border-transparent rounded-full w-[30px] h-[30px] transition-all duration-300 active:border-secondary disabled:text-secondary/50 sm:w-[35px] sm:h-[35px];
  }

  .icon-pagination {
    @apply text-[20px] w-[20px] sm:text-[25px] sm:w-[25px]
  }
}
