@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
}

.custom-bg {
  background-image: url("/assets/images/background.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.custom-bg-contain {
  background: radial-gradient(50% 50% at 50% 50%, #181430 0%, #09041b 79.6%);
}

.custom-bg-more-about-us {
  width: 600px;
  height: 600px;
  border: solid 16px #181430;
  background-color: transparent;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.scrollY {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #181430;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #09041b;
    border-radius: 10px;
  }
}

.container-input {
  @apply flex flex-col gap-1 text-secondaryColor font-semibold transition-all focus-within:text-extras;
}

.input {
  @apply outline-none p-3 bg-[#635D8480] border-b-2 text-secondaryColor border-secondaryColor transition-all focus:bg-[#A435F04C] focus:border-extras;
}

.scroll-animation {
  view-timeline-name: --reveal;
  animation-name: show;
  animation-fill-mode: both;
  animation-timeline: --reveal;
  animation-range: entry 10% cover 40%;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 50%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
